<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="regresar()"></ion-back-button>
    </ion-buttons>
    <ion-title>infoCondiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item> seleccionada: </ion-item>
  <ion-item *ngFor="let condicion of condicionesSeleccionadas">
    <ion-label> {{ condicion.nombre }} </ion-label>
  </ion-item>
  <ion-button (click)="guardarCondiciones()">Guardar</ion-button>

  <ion-item> Enfermedades: </ion-item>
  <ng-container *ngFor="let condicion of condiciones">
    <ion-chip
      *ngIf="condicion.observaciones === 'enfermedad'"
      [ngClass]="{'leve': condicion.gravedad === 'leve', 'moderada': condicion.gravedad === 'moderada', 'grave': condicion.gravedad === 'grave'}"
      (click)="seleccionarCondicion(condicion)"
    >
      <ion-label> {{ condicion.nombre }} </ion-label>
    </ion-chip>
  </ng-container>

  <ion-item> Deformaciones: </ion-item>
  <ng-container *ngFor="let condicion of condiciones">
    <ion-chip
      *ngIf="condicion.observaciones === 'deformación'"
      [ngClass]="{'leve': condicion.gravedad === 'leve', 'moderada': condicion.gravedad === 'moderada', 'grave': condicion.gravedad === 'grave'}"
      (click)="seleccionarCondicion(condicion)"
      >
      <ion-label> {{ condicion.nombre }} </ion-label>
    </ion-chip>
  </ng-container>
</ion-content>
