<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="regresar()"></ion-back-button>
    </ion-buttons>
    <ion-title
    *ngIf="!showSearchBar"
    >Agregar Condiciones</ion-title>

    <ion-searchbar
    *ngIf="showSearchBar"
      [(ngModel)]="searchTerm"
      (ionInput)="filterCondiciones()"
      placeholder="Buscar por nombre"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button
      (click)="toggleSearchBar()"
      >
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item> Enfermedades y/o Deformaciones seleccionada: </ion-item>
  <ion-item *ngFor="let condicion of condicionesSeleccionadas">
    <ion-label> {{ condicion.nombre }} </ion-label>
    <ion-button (click)="eliminarCondicion(condicion)">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-button (click)="guardarCondiciones()">Agregar Condicion</ion-button>

  <ion-item (click)="toggleEnfermedades()">
    Enfermedades:
    <ion-icon
      slot="end"
      [name]="showEnfermedades ? 'chevron-up' : 'chevron-down'"
    ></ion-icon>
  </ion-item>
  <ng-container *ngIf="showEnfermedades">
    <ng-container *ngFor="let condicion of condiciones">
      <ion-chip
        *ngIf="condicion.observaciones === 'enfermedad'"
        [ngClass]="{'leve': condicion.gravedad === 'leve', 'moderada': condicion.gravedad === 'moderada', 'grave': condicion.gravedad === 'grave'}"
        (click)="seleccionarCondicion(condicion)"
      >
        <ion-label> {{ condicion.nombre }} </ion-label>
      </ion-chip>
    </ng-container>
  </ng-container>


  <ion-item (click)="toggleDeformaciones()">
    Deformaciones:
    <ion-icon
      slot="end"
      [name]="showDeformaciones ? 'chevron-up' : 'chevron-down'"
    ></ion-icon>
  </ion-item>

  <ng-container *ngIf="showDeformaciones">
    <ng-container *ngFor="let condicion of condiciones">
      <ion-chip
        *ngIf="condicion.observaciones === 'deformación'"
        [ngClass]="{'leve': condicion.gravedad === 'leve', 'moderada': condicion.gravedad === 'moderada', 'grave': condicion.gravedad === 'grave'}"
        (click)="seleccionarCondicion(condicion)"
      >
        <ion-label> {{ condicion.nombre }} </ion-label>
      </ion-chip>
    </ng-container>

  </ng-container></ion-content
>
