<ion-header *ngIf="animal">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="redirectList()"></ion-back-button>
    </ion-buttons>
    <ion-title size="large"
      >Informacion de {{ animal.nombre }} No.{{ animal.numero}}</ion-title
    >

    <ion-buttons slot="end">
      <ion-button
        *ngIf="animal.sexo === 'Femenino' && !animal.esBecerro"
        (click)="presentPopover($event)"
      >
        <!-- <ion-icon name="ellipsis-vertical"></ion-icon> -->
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="animal">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Info basica -->
  <ion-list>
    <ion-list-header
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <p style="flex: 1">Informacion de Basica:</p>
      <div>
        <img
          *ngIf="animal.estado === 'Vendida'"
          src="../../../assets/svg/sell.svg"
        />
        <img
          *ngIf="animal.estado === 'Muerta'"
          src="../../../assets/svg/dead.svg"
        />
        <img
          *ngIf="animal.estado === 'Desaparecida'"
          src="../../../assets/svg/thief.svg"
        />
      </div>
    </ion-list-header>

    <ion-item>
      <ion-label>Nombre: {{ animal.nombre }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Numero: {{ animal.numero}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label
        >Fecha de nacimiento: {{ animal.fechaNacimiento | date:'dd-MM-yyyy' }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sexo: {{ animal.sexo }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Raza: {{ animal.raza }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label
        >Edad: {{ animal.edad.years }} años, {{ animal.edad.months }} meses, {{
        animal.edad.days }} días ({{ animal.esBecerro ? 'Joven' : 'Adulta' }})
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Nombre del padre:
        <ng-container *ngIf="animal.idPadre; else noLinkPadre">
          <a [routerLink]="['/info-vaca', animal.idPadre]"
            >{{ animal.nombrePadre }}</a
          >
          - No.
          <a [routerLink]="['/info-vaca', animal.idPadre]"
            >{{ animal.numeroPadre }}</a
          >
        </ng-container>
        <ng-template #noLinkPadre
          >{{ animal.nombrePadre }} - No. {{ animal.numeroPadre }}</ng-template
        >
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Nombre de la madre:
        <ng-container *ngIf="animal.idMadre; else noLinkMadre">
          <a [routerLink]="['/info-vaca', animal.idMadre]"
            >{{ animal.nombreMadre }}</a
          >
          - No.
          <a [routerLink]="['/info-vaca', animal.idMadre]"
            >{{ animal.numeroMadre }}</a
          >
        </ng-container>
        <ng-template #noLinkMadre
          >{{ animal.nombreMadre }} - No. {{ animal.numeroMadre }}</ng-template
        >
      </ion-label>
    </ion-item>

    <ion-item *ngIf="animal.esMadre && animal.edadPrimerParto > 0">
      <ion-label
        >Edad al primer parto: {{ animal.edadPrimerParto }} año(s)</ion-label
      >
    </ion-item>
  </ion-list>

  <!-- Hijos -->
  <ion-list>
    <ion-list-header>Hijos:</ion-list-header>
    <ion-item *ngFor="let hijo of animal.hijos">
      <ion-label>
        Nombre:
        <a [routerLink]="['/info-vaca', hijo._id]">{{ hijo.nombre }}</a>
        - No.
        <a [routerLink]="['/info-vaca', hijo._id]">{{ hijo.numero }}</a>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="animal.hijos.length === 0">
      <ion-label>Este animal no tiene hijos.</ion-label>
    </ion-item>
  </ion-list>

  <!-- Condiciones -->
  <ion-list>
    <ion-list-header>Enfermedades y/o Deformaciones:</ion-list-header>
    <ng-container *ngFor="let condicion of animal.condiciones">
      <ion-chip *ngIf="!condicion.curada" (click)="eliminarCondicion(condicion._id)"
        [ngClass]="{'leve': condicion.gravedad === 'leve', 'moderada': condicion.gravedad === 'moderada', 'grave': condicion.gravedad === 'grave'}">
        <ion-label> {{ condicion.nombre }} </ion-label>
      </ion-chip>
    </ng-container>
    <ng-container *ngFor="let condicion of animal.condiciones">
      <ion-list-header *ngIf="condicion.curada">Enfermedades curadas:</ion-list-header>
      <ion-chip *ngIf="condicion.curada"
        [ngClass]="{'leve': condicion.gravedad === 'leve', 'moderada': condicion.gravedad === 'moderada', 'grave': condicion.gravedad === 'grave'}">
        <ion-label> {{ condicion.nombre }} </ion-label>
      </ion-chip>
    </ng-container>
    <ion-item *ngIf="animal.condiciones.length === 0">Este animal está sano</ion-item>
  </ion-list>

  <!-- Palpaciones -->
  <!-- <ion-item
      *ngIf="!animal.esBecerro && animal.sexo === 'Femenino'"
      (click)="showPalpacion = !showPalpacion"
    >
      Info de Palpaciones
      <ion-icon
        slot="end"
        [name]="showPalpacion ? 'chevron-up-outline' : 'chevron-down-outline'"
      ></ion-icon>
    </ion-item>

    <ion-list
      *ngIf="showPalpacion && !animal.esBecerro && animal.sexo === 'Femenino'"
    >
      <ion-list-header>Info de Palpaciones:</ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col>Fecha de celo</ion-col>
          <ion-col *ngFor="let palpacion of animal.palpaciones"
            >{{ palpacion.fechaCelo | date:'dd-MM-yyyy'}}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col>Fecha de servicio</ion-col>
          <ion-col *ngFor="let palpacion of animal.palpaciones"
            >{{ palpacion.fechaServicio | date:'dd-MM-yyyy'}}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col>Toro</ion-col>
          <ion-col *ngFor="let palpacion of animal.palpaciones"
            >{{ palpacion.toro }}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col>Fecha de palpación</ion-col>
          <ion-col *ngFor="let palpacion of animal.palpaciones"
            >{{ palpacion.fechaPalpacion1 | date:'dd-MM-yyyy' }}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col>Diagnóstico</ion-col>
          <ion-col *ngFor="let palpacion of animal.palpaciones"
            >{{ palpacion.diagnostico1 }}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col>Fecha de palpación</ion-col>
          <ion-col *ngFor="let palpacion of animal.palpaciones"
            >{{ palpacion.fechaPalpacion2 | date:'dd-MM-yyyy' }}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col>Diagnóstico</ion-col>
          <ion-col *ngFor="let palpacion of animal.palpaciones"
            >{{ palpacion.diagnostico2 }}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col>Observaciones</ion-col>
          <ion-col *ngFor="let palpacion of animal.palpaciones"
            >{{ palpacion.observaciones }}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col>Acciones</ion-col>
          <ion-col *ngFor="let palpacion of animal.palpaciones">
            <ion-button
              color="primary"
              (click)="updatePalpacion(palpacion._id)"
            >
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="deletePalpacion(palpacion._id)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button expand="full" (click)="addPalpacion(animal.id)">
        <ion-icon slot="start" name="add"></ion-icon>
        Agregar Palpación
      </ion-button>

          Botón para expandir
    <ion-button expand="full" (click)="masInfoPalpacion()">
      <ion-icon name="expand-outline"></ion-icon>
      Expandir
    </ion-button>
    </ion-list> -->

  <!-- ComiParto -->
  <!-- <ion-item
    *ngIf="!animal.esBecerro && animal.sexo === 'Femenino'"
    (click)="showParto = !showParto"
  >
    Info de Parto
    <ion-icon
      slot="end"
      [name]="showParto ? 'chevron-up-outline' : 'chevron-down-outline'"
    ></ion-icon>
  </ion-item>

  <ion-list
    *ngIf="showParto && !animal.esBecerro && animal.sexo === 'Femenino'"
  >
    <ion-list-header>Info de Parto:</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col>Fecha de parto</ion-col>
        <ion-col *ngFor="let comiParto of animal.comiParto"
          >{{ comiParto.fechaParto | date:'dd-MM-yyyy'}}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col>Sexo del becerro</ion-col>
        <ion-col *ngFor="let comiParto of animal.comiParto"
          >{{ comiParto.sexoBecerro }}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col>Peso del becerro (Kg)</ion-col>
        <ion-col *ngFor="let comiParto of animal.comiParto"
          >{{ comiParto.pesoBecerroKg }}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col>Día de producción</ion-col>
        <ion-col *ngFor="let comiParto of animal.comiParto"
          >{{ comiParto.diaProduccion }}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col>Producción total</ion-col>
        <ion-col *ngFor="let comiParto of animal.comiParto"
          >{{ comiParto.produccionTotal }}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col>Producción X</ion-col>
        <ion-col *ngFor="let comiParto of animal.comiParto"
          >{{ comiParto.produccionX }}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col>Observación</ion-col>
        <ion-col *ngFor="let comiParto of animal.comiParto"
          >{{ comiParto.observacion }}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col>Acciones</ion-col>
        <ion-col *ngFor="let comiParto of animal.comiParto">
          <ion-button color="primary" (click)="updateParto(comiParto._id)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="deleteParto(comiParto._id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="full" (click)="addParto(animal.id)">
      <ion-icon slot="start" name="add"></ion-icon>
      Agregar Parto
    </ion-button>
    <ion-button expand="full" (click)="masInfoParto()">
      <ion-icon name="expand-outline"></ion-icon>
      Expandir
    </ion-button>
  </ion-list> -->

  <!-- LecheMes -->
  <!-- <ion-item
    *ngIf="!animal.esBecerro && animal.sexo === 'Femenino'"
    (click)="showLecheMes = !showLecheMes"
  >
    Info de Leche por Mes
    <ion-icon
      slot="end"
      [name]="showLecheMes ? 'chevron-up-outline' : 'chevron-down-outline'"
    ></ion-icon>
  </ion-item>

  <ion-list
    *ngIf="showLecheMes && !animal.esBecerro && animal.sexo === 'Femenino'"
  >
    <ion-list-header>Info de Leche por Mes:</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col>Mes</ion-col>
        <ion-col *ngFor="let lecheMes of animal.lecheMes"
          >{{ lecheMes.mes }}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col>Cantidad de leche</ion-col>
        <ion-col *ngFor="let lecheMes of animal.lecheMes"
          >{{ lecheMes.cantidadLeche }}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col>Fecha de secado</ion-col>
        <ion-col *ngFor="let lecheMes of animal.lecheMes"
          >{{ lecheMes.fechaSecado | date:'dd-MM-yyyy' }}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col>Acciones</ion-col>
        <ion-col *ngFor="let lecheMes of animal.lecheMes">
          <ion-button color="primary" (click)="updateLecheMes(lecheMes._id)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="deleteLecheMes(lecheMes._id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="full" (click)="addLecheMes(animal.id)">
      <ion-icon slot="start" name="add"></ion-icon>
      Agregar Leche por Mes
    </ion-button>
    <ion-button expand="full" (click)="masInfoLecheMes()">
      <ion-icon name="expand-outline"></ion-icon>
      Expandir
    </ion-button>
  </ion-list> -->

  <!-- Botones de accion -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="chevron-up"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="updateAnimal()">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="deleteAnimal(animal.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      <!-- enfermedad -->
      <ion-fab-button color="success" (click)="addEnfermedad(animal.id)">
        <ion-icon name="fitness-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
