<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-menu></app-menu>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Notificaciones</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let notification of notifications">
          <ion-label>
            {{notification.title}}
          </ion-label>
          <ion-text>
            {{notification.description}}
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->

  <h1>Proximamente...</h1>
</ion-content>
