<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="redirectToInfoVaca()"></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar Animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="updateAnimal()">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input
            [(ngModel)]="animal.nombre"
            name="nombre"
            required
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Numero</ion-label>
          <ion-input
            [(ngModel)]="animal.numero"
            name="numero"
            type="number"
            required
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Raza</ion-label>
          <ion-input [(ngModel)]="animal.raza" name="raza" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Sexo</ion-label>
          <ion-select [(ngModel)]="animal.sexo" name="sexo" required>
            <ion-select-option value="Masculino">Masculino</ion-select-option>
            <ion-select-option value="Femenino">Femenino</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label *ngIf="!showCalendar">Fecha de Nacimiento:</ion-label>
      <ion-buttons slot="end">
        <ion-button
          *ngIf="!showCalendar"
          fill="clear"
          (click)="toggleCalendar()"
        >
          <ion-icon slot="icon-only" name="calendar"></ion-icon>
        </ion-button>
        <ion-button
          *ngIf="showCalendar"
          fill="clear"
          (click)="toggleCalendar()"
        >
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-datetime
        [showDefaultTitle]="true"
        *ngIf="showCalendar"
        presentation="date"
        displayFormat="DD-MM-YYYY"
        [(ngModel)]="animal.fechaNacimiento"
        name="fechaNacimiento"
        required
      >
        <span slot="title">Fecha de Nacimiento</span>
      </ion-datetime>
      <ion-label *ngIf="!showCalendar"
        >{{ animal.fechaNacimiento | date:'dd-MM-YYYY' }}</ion-label
      >
    </ion-item>

    <!-- <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Es Joven?</ion-label>
          <ion-checkbox [(ngModel)]="animal.esBecerro" name="esBecerro"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nombre Padre</ion-label>
          <ion-input [(ngModel)]="animal.nombrePadre" name="nombrePadre"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Numero Padre</ion-label>
          <ion-input [(ngModel)]="animal.numeroPadre" name="numeroPadre" type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nombre Madre</ion-label>
          <ion-input [(ngModel)]="animal.nombreMadre" name="nombreMadre"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Numero Madre</ion-label>
          <ion-input [(ngModel)]="animal.numeroMadre" name="numeroMadre" type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->


    <ion-row>
      <ion-col>
        <ion-button class="form-button" type="submit">Actualizar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          class="form-button"
          color="danger"
          (click)="redirectToInfoVaca()"
          >Cancelar</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
