<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/info-vaca/{{animalId}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Info de Palpacion de {{ animal?.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
  <ion-list-header>Info de Palpaciones:</ion-list-header>
  <ion-grid>
    <ion-row>
      <ion-col>Fecha de celo</ion-col>
      <ion-col *ngFor="let palpacion of animal.palpaciones"
        >{{ palpacion.fechaCelo | date:'dd-MM-yyyy'}}</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col>Fecha de servicio</ion-col>
      <ion-col *ngFor="let palpacion of animal.palpaciones"
        >{{ palpacion.fechaServicio | date:'dd-MM-yyyy'}}</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col>Toro</ion-col>
      <ion-col *ngFor="let palpacion of animal.palpaciones"
        >{{ palpacion.toro }}</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col>Fecha de palpación</ion-col>
      <ion-col *ngFor="let palpacion of animal.palpaciones"
        >{{ palpacion.fechaPalpacion1 | date:'dd-MM-yyyy' }}</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col>Diagnóstico</ion-col>
      <ion-col *ngFor="let palpacion of animal.palpaciones"
        >{{ palpacion.diagnostico1 }}</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col>Fecha de palpación</ion-col>
      <ion-col *ngFor="let palpacion of animal.palpaciones"
        >{{ palpacion.fechaPalpacion2 | date:'dd-MM-yyyy' }}</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col>Diagnóstico</ion-col>
      <ion-col *ngFor="let palpacion of animal.palpaciones"
        >{{ palpacion.diagnostico2 }}</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col>Observaciones</ion-col>
      <ion-col *ngFor="let palpacion of animal.palpaciones"
        >{{ palpacion.observaciones }}</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col>Acciones</ion-col>
      <ion-col *ngFor="let palpacion of animal.palpaciones">
        <ion-button
          color="primary"
          (click)="updatePalpacion(palpacion._id)"
        >
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deletePalpacion(palpacion._id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" (click)="addPalpacion(animal.id)">
    <ion-icon slot="start" name="add"></ion-icon>
    Agregar Palpación
  </ion-button>

</ion-list>

</ion-content>
