<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="retroceder()"></ion-back-button>
    </ion-buttons>
    <ion-title
      >Info de Palpacion de:
      <span class="name"> {{ animal?.nombre }} </span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addPalpacion(animal.id)">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="animal?.palpaciones && animal.palpaciones.length > 0">
    <ion-list-header>Info de Palpaciones:</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col>Fecha de celo</ion-col>
        <a
          *ngFor="let palpacion of animal.palpaciones"
          (click)="updatePalpacion(palpacion._id)"
          ><ion-col>{{ palpacion.fechaCelo | date:'dd-MM-yyyy' }}</ion-col></a
        >
      </ion-row>

      <ion-row>
        <ion-col>Fecha de servicio</ion-col>
        <a
          *ngFor="let palpacion of animal.palpaciones"
          (click)="updatePalpacion(palpacion._id)"
          ><ion-col
            >{{ palpacion.fechaServicio | date:'dd-MM-yyyy' }}</ion-col
          ></a
        >
      </ion-row>

      <ion-row>
        <ion-col>Toro</ion-col>
        <a
          *ngFor="let palpacion of animal.palpaciones"
          (click)="updatePalpacion(palpacion._id)"
          ><ion-col>{{ palpacion.toro }}</ion-col></a
        >
      </ion-row>

      <ion-row>
        <ion-col>Fecha de palpación</ion-col>
        <a
          *ngFor="let palpacion of animal.palpaciones"
          (click)="updatePalpacion(palpacion._id)"
          ><ion-col
            >{{ palpacion.fechaPalpacion1 | date:'dd-MM-yyyy' }}</ion-col
          ></a
        >
      </ion-row>

      <ion-row>
        <ion-col>Diagnóstico</ion-col>
        <a
          *ngFor="let palpacion of animal.palpaciones"
          (click)="updatePalpacion(palpacion._id)"
          ><ion-col>{{ palpacion.diagnostico1 }}</ion-col></a
        >
      </ion-row>

      <ion-row>
        <ion-col>Fecha de palpación</ion-col>
        <a
          *ngFor="let palpacion of animal.palpaciones"
          (click)="updatePalpacion(palpacion._id)"
          ><ion-col
            >{{ palpacion.fechaPalpacion2 | date:'dd-MM-yyyy' }}</ion-col
          ></a
        >
      </ion-row>

      <ion-row>
        <ion-col>Diagnóstico</ion-col>
        <a
          *ngFor="let palpacion of animal.palpaciones"
          (click)="updatePalpacion(palpacion._id)"
          ><ion-col>{{ palpacion.diagnostico2 }}</ion-col></a
        >
      </ion-row>

      <!-- Observaciones -->
      <!-- <ion-row>
        <ion-col>Observaciones</ion-col>
        <a *ngFor="let palpacion of animal.palpaciones" (click)="updatePalpacion(palpacion._id)"
          ><ion-col>{{ palpacion.observaciones }}</ion-col></a
        >
      </ion-row> -->
    </ion-grid>
  </ion-list>

  <ion-list *ngIf="animal?.palpaciones && animal.palpaciones.length === 0">
    <ion-list-header>Info de Palpaciones:</ion-list-header>
    <ion-item>
      <ion-label>No hay palpaciones registradas</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
