<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="retroceder()"></ion-back-button>
    </ion-buttons>
    <ion-title
      >Info de Parto de:
      <span class="name"> {{ animal?.nombre }} </span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button expand="full" (click)="addParto(animal.id)">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="animal?.comiParto && animal.comiParto.length > 0">
    <ion-list-header>Info de Parto:</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col>Fecha de parto</ion-col>
        <a
          *ngFor="let comiParto of animal.comiParto"
          (click)="updateParto(comiParto._id)"
          ><ion-col>{{ comiParto.fechaParto | date:'dd-MM-yyyy' }}</ion-col></a
        >
      </ion-row>

      <ion-row>
        <ion-col>Sexo del becerro</ion-col>
        <a
          *ngFor="let comiParto of animal.comiParto"
          (click)="updateParto(comiParto._id)"
          ><ion-col>{{ comiParto.sexoBecerro }}</ion-col></a
        >
      </ion-row>

      <ion-row>
        <ion-col>Peso del becerro</ion-col>
        <a
          *ngFor="let comiParto of animal.comiParto"
          (click)="updateParto(comiParto._id)"
          ><ion-col>{{ comiParto.pesoBecerroKg }} Kg</ion-col></a
        >
      </ion-row>

      <!-- <ion-row>
        <ion-col>Día de producción</ion-col>
        <a
          *ngFor="let comiParto of animal.comiParto"
          (click)="updateParto(comiParto._id)"
          ><ion-col>{{ comiParto.diaProduccion }}</ion-col></a
        >
      </ion-row>

      <ion-row>
        <ion-col>Producción total</ion-col>
        <a
          *ngFor="let comiParto of animal.comiParto"
          (click)="updateParto(comiParto._id)"
          ><ion-col>{{ comiParto.produccionTotal }}</ion-col></a
        >
      </ion-row>

      <ion-row>
        <ion-col>Producción X</ion-col>
        <a
          *ngFor="let comiParto of animal.comiParto"
          (click)="updateParto(comiParto._id)"
          ><ion-col>{{ comiParto.produccionX }}</ion-col></a
        >
      </ion-row>

      <ion-row>
        <ion-col>Observación</ion-col>
        <a
          *ngFor="let comiParto of animal.comiParto"
          (click)="updateParto(comiParto._id)"
          ><ion-col>{{ comiParto.observacion }}</ion-col></a
        >
      </ion-row> -->

    </ion-grid>
  </ion-list>

  <ion-list *ngIf="!animal?.comiParto || animal.comiParto.length === 0">
    <ion-list-header>Info de Parto:</ion-list-header>
    <ion-item>
      <ion-label>No hay información de parto</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
