<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="redirectInfoVaca()"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!showLecheMes">Info de Lactancia</ion-title>
    <ion-title *ngIf="showLecheMes">Actualizar Lactancia</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleLecheMes()" *ngIf="!showLecheMes">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>

      <ion-button
        color="danger"
        *ngIf="!showLecheMes"
        (click)="deleteLecheMes(lecheMes.id)"
      >
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>

      <ion-button (click)="toggleLecheMes()" *ngIf="showLecheMes">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form *ngIf="showLecheMes" (ngSubmit)="updateLecheMes()">
    <ion-item *ngFor="let leche of lecheMes.lecheXmes; let i = index">
      <ion-item>
        <ion-label position="floating">Mes {{i + 1}}</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="leche.mes"
          name="mes{{i + 1}}"
          [required]="i === 0"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cantidad de Leche</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="leche.cantidadLeche"
          name="cantidadLeche{{i + 1}}"
          [required]="i === 0"
        ></ion-input>
      </ion-item>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Fecha de Secado</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="toggleCalendar()">
          <ion-icon slot="icon-only" name="calendar"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-datetime
        presentation="date"
        [preferWheel]="true"
        [(ngModel)]="lecheMes.fechaSecado"
        name="fechaSecado"
        required
      ></ion-datetime>
    </ion-item>

    <ion-button class="form-button" type="submit"
      >Actualizar Leche Mes</ion-button
    >
  </form>

  <ion-card *ngIf="!showLecheMes">
    <ion-card-header>
      <ion-card-title>Leche por Mes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-list>
        <ion-item *ngFor="let leche of lecheMes.lecheXmes; let i = index">
          <ion-label>Mes {{i + 1}}</ion-label>
          <ion-label>{{leche.mes}}</ion-label>
          <ion-label>Cantidad de Leche</ion-label>
          <ion-label>{{leche.cantidadLeche}}</ion-label>
        </ion-item>
      </ion-list> -->

      <ion-label>Fecha de Secado: </ion-label>
      <ion-label>{{lecheMes.fechaSecado | date:'dd-MM-yyyy' }}</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>Mes</ion-col>
          <ion-col>Cantidad de Leche</ion-col>
        </ion-row>
        <ion-row *ngFor="let leche of lecheMes.lecheXmes; let i = index">
          <ion-col>{{leche.mes}}</ion-col>
          <ion-col>{{leche.cantidadLeche}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
