<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="redirectInfoVaca()"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar la leche por mes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar la leche por mes</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="updateLecheMes()">

    <!-- <ion-item>

      <ion-item>
        <ion-label position="floating">Mes</ion-label>
        <ion-input type="number" [(ngModel)]="lecheMes.lecheXmes[0].mes" name="mes" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Cantidad de Leche</ion-label>
        <ion-input type="number" [(ngModel)]="lecheMes.lecheXmes[0].cantidadLeche" name="cantidadLeche" required></ion-input>
      </ion-item>

    </ion-item> -->

    <ion-item *ngFor="let leche of lecheMes.lecheXmes; let i = index">
      <ion-item>
        <ion-label position="floating">Mes {{i + 1}}</ion-label>
        <ion-input type="number" [(ngModel)]="leche.mes" name="mes{{i + 1}}" [required]="i === 0"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Cantidad de Leche</ion-label>
        <ion-input type="number" [(ngModel)]="leche.cantidadLeche" name="cantidadLeche{{i + 1}}" [required]="i === 0"></ion-input>
      </ion-item>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Fecha de Secado</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="toggleCalendar()">
          <ion-icon slot="icon-only" name="calendar"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-datetime presentation="date" [preferWheel]="true" [(ngModel)]="lecheMes.fechaSecado" name="fechaSecado"
        required></ion-datetime>
    </ion-item>

    <ion-button class="form-button" type="submit">Actualizar Leche Mes</ion-button>
  </form>

</ion-content>