ion-segment{

    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    min-width: 100%;
    overflow-x: auto;
}
ion-segment-button{
    padding: 0;
    margin: 0;
    min-width: auto; 
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}
.encabezado{

    font-weight: bold;
}

ion-grid{
display: flex;
flex-direction: column;

}