<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="redirectToVacas()"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form (ngSubmit)="onSubmit()">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input
            [(ngModel)]="animal.nombre"
            name="nombre"
            required
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Numero</ion-label>
          <ion-input
            [(ngModel)]="animal.numero"
            name="numero"
            type="number"
            required
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Raza</ion-label>
          <ion-input [(ngModel)]="animal.raza" name="raza" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Sexo</ion-label>
          <ion-select [(ngModel)]="animal.sexo" name="sexo" required>
            <ion-select-option value="Masculino">Masculino</ion-select-option>
            <ion-select-option value="Femenino">Femenino</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label position="stacked">Fecha de Nacimiento</ion-label>
    </ion-item>
    <ion-item>
      <ion-datetime
        presentation="date"
        [preferWheel]="true"
        [(ngModel)]="animal.fechaNacimiento"
        name="fechaNacimiento"
        required
      ></ion-datetime>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Usar padre existente</ion-label>
          <ion-checkbox
            [(ngModel)]="useExistingPadre"
            name="useExistingPadre"
          ></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Usar madre existente</ion-label>
          <ion-checkbox
            [(ngModel)]="useExistingMadre"
            name="useExistingMadre"
          ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label>Padre</ion-label>
      <ion-select
        [(ngModel)]="animal.numeroPadre"
        name="numeroPadre"
        *ngIf="useExistingPadre"
      >
        <ng-container *ngFor="let animal of animals">
          <ion-select-option
            [value]="animal.numero"
            *ngIf="animal.sexo === 'Masculino'"
            >{{ animal.nombre }} No.{{ animal.numero }}</ion-select-option
          >
        </ng-container>
      </ion-select>
      <ion-input
        [(ngModel)]="animal.nombrePadre"
        name="nombrePadre"
        *ngIf="!useExistingPadre"
        placeholder="Nombre"
      ></ion-input>
      <ion-input
        [(ngModel)]="animal.numeroPadre"
        name="numeroPadre"
        type="number"
        *ngIf="!useExistingPadre"
        placeholder="Número"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Madre</ion-label>
      <ion-select
        [(ngModel)]="animal.numeroMadre"
        name="numeroMadre"
        *ngIf="useExistingMadre"
      >
        <ng-container *ngFor="let animal of animals">
          <ion-select-option
            [value]="animal.numero"
            *ngIf="animal.sexo === 'Femenino'"
            >{{ animal.nombre }} No.{{ animal.numero }}</ion-select-option
          >
        </ng-container>
      </ion-select>
      <ion-input
        [(ngModel)]="animal.nombreMadre"
        name="nombreMadre"
        *ngIf="!useExistingMadre"
        placeholder="Nombre"
      ></ion-input>
      <ion-input
        [(ngModel)]="animal.numeroMadre"
        name="numeroMadre"
        type="number"
        *ngIf="!useExistingMadre"
        placeholder="Número"
      ></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button class="form-button" type="submit">Guardar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          class="form-button"
          color="danger"
          (click)="redirectToVacas()"
          >Cancelar</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
