<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="redirectInfoVaca()"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar datos</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="addPalpacion()">
    <ion-item>
      <ion-label *ngIf="!showCalendarCelo">Fecha de Celo:</ion-label>
      <ion-buttons slot="end">
        <ion-button
          *ngIf="!showCalendarCelo"
          fill="clear"
          (click)="toggleCalendarCelo()"
        >
          <ion-icon slot="icon-only" name="calendar"></ion-icon>
        </ion-button>
        <ion-button
          *ngIf="showCalendarCelo"
          fill="clear"
          (click)="toggleCalendarCelo()"
        >
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-datetime
        [showDefaultTitle]="true"
        *ngIf="showCalendarCelo"
        presentation="date"
        displayFormat="DD-MM-YYYY"
        [(ngModel)]="palpacion.fechaCelo"
        name="fechaCelo"
        required
      >
        <span slot="title">Fecha de Celo</span>
      </ion-datetime>
      <ion-label *ngIf="!showCalendarCelo"
        >{{ palpacion.fechaCelo | date:'dd-MM-YYYY' }}</ion-label
      >
    </ion-item>

    <ion-item>
      <ion-label *ngIf="!showCalendarServicio">Fecha de Servicio:</ion-label>
      <ion-buttons slot="end">
        <ion-button
          *ngIf="!showCalendarServicio"
          fill="clear"
          (click)="toggleCalendarServicio()"
        >
          <ion-icon slot="icon-only" name="calendar"></ion-icon>
        </ion-button>
        <ion-button
          *ngIf="showCalendarServicio"
          fill="clear"
          (click)="toggleCalendarServicio()"
        >
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-datetime
        [showDefaultTitle]="true"
        *ngIf="showCalendarServicio"
        presentation="date"
        displayFormat="DD-MM-YYYY"
        [(ngModel)]="palpacion.fechaServicio"
        name="fechaServicio"
        required
      >
        <span slot="title">Fecha de Servicio</span>
      </ion-datetime>
      <ion-label *ngIf="!showCalendarServicio"
        >{{ palpacion.fechaServicio | date:'dd-MM-YYYY' }}</ion-label
      >
    </ion-item>

    <ion-item>
      <ion-label>Tipo de Servicio</ion-label>
      <ion-select [(ngModel)]="palpacion.toro" name="toro" required
        >>
        <ion-select-option value="Inseminacion Artificial"
          >Inseminacion Artificial</ion-select-option
        >
        <ion-select-option value="Monta Natural"
          >Monta Natural</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label *ngIf="!showCalendarPalpacion1"
        >Fecha de Palpacion 1:</ion-label
      >
      <ion-buttons slot="end">
        <ion-button
          *ngIf="!showCalendarPalpacion1"
          fill="clear"
          (click)="toggleCalendarPalpacion1()"
        >
          <ion-icon slot="icon-only" name="calendar"></ion-icon>
        </ion-button>
        <ion-button
          *ngIf="showCalendarPalpacion1"
          fill="clear"
          (click)="toggleCalendarPalpacion1()"
        >
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-datetime
        [showDefaultTitle]="true"
        *ngIf="showCalendarPalpacion1"
        presentation="date"
        displayFormat="DD-MM-YYYY"
        [(ngModel)]="palpacion.fechaPalpacion1"
        name="fechaPalpacion1"
        required
      >
        <span slot="title">Fecha de Palpacion 1</span>
      </ion-datetime>
      <ion-label *ngIf="!showCalendarPalpacion1"
        >{{ palpacion.fechaPalpacion1 | date:'dd-MM-YYYY' }}</ion-label
      >
    </ion-item>

    <ion-item>
      <ion-label>Diagnostico 1</ion-label>
      <ion-select
        [(ngModel)]="palpacion.diagnostico1"
        name="diagnostico1"
        required
        >>
        <ion-select-option value="Preñada">Preñada</ion-select-option>
        <ion-select-option value="Vacia">Vacia</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label *ngIf="!showCalendarPalpacion2"
        >Fecha de Palpacion 2:</ion-label
      >
      <ion-buttons slot="end">
        <ion-button
          *ngIf="!showCalendarPalpacion2"
          fill="clear"
          (click)="toggleCalendarPalpacion2()"
        >
          <ion-icon slot="icon-only" name="calendar"></ion-icon>
        </ion-button>
        <ion-button
          *ngIf="showCalendarPalpacion2"
          fill="clear"
          (click)="toggleCalendarPalpacion2()"
        >
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-datetime
        [showDefaultTitle]="true"
        *ngIf="showCalendarPalpacion2"
        presentation="date"
        displayFormat="DD-MM-YYYY"
        [(ngModel)]="palpacion.fechaPalpacion2"
        name="fechaPalpacion2"
        required
      >
        <span slot="title">Fecha de Palpacion 2</span>
      </ion-datetime>
      <ion-label *ngIf="!showCalendarPalpacion2"
        >{{ palpacion.fechaPalpacion2 | date:'dd-MM-YYYY' }}</ion-label
      >
    </ion-item>

    <ion-item>
      <ion-label>Diagnostico 2</ion-label>
      <ion-select
        [(ngModel)]="palpacion.diagnostico2"
        name="diagnostico2"
        required
        >>
        <ion-select-option value="Preñada">Preñada</ion-select-option>
        <ion-select-option value="Vacia">Vacia</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Observaciones</ion-label>
      <ion-textarea
        [(ngModel)]="palpacion.observaciones"
        name="observaciones"
      ></ion-textarea>
    </ion-item>

    <ion-button class="form-button" type="submit">Agregar Palpacion</ion-button>
  </form>
</ion-content>
