<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        *ngIf="!showSearchBar"
        autoHide="false"
      ></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!showSearchBar">Lista de animales</ion-title>
    <ion-searchbar
      *ngIf="showSearchBar"
      [(ngModel)]="searchTerm"
      (ionInput)="filterAnimals()"
      placeholder="Buscar por nombre o número "
    ></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button *ngIf="!showSearchBar" (click)="toggleSearchBar()">
        <ion-icon name="search"></ion-icon>
      </ion-button>

      <ion-button *ngIf="showSearchBar" (click)="toggleSearchBar()">
        <ion-icon
        slot="icon-only"
        name="close"></ion-icon>
      </ion-button>

      <ion-button
        class="setting"
        *ngIf="!showSearchBar"
        slot="end"
        (click)="presentActionSheet()"
      >
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-menu></app-menu>

  <ion-list
    *ngIf="!isLoading 
  && filteredAnimals.length > 0
  "
  >
    <ion-item *ngFor="let animal of filteredAnimals">
      <a [routerLink]="['/info-vaca', animal.id]">
        <div class="avatar">
          <img
            class="svg-big"
            [src]="animal.sexo === 'Masculino' ? '../../../assets/svg/bull.svg' : '../../../assets/svg/cow.svg'"
          />
          <img
            class="svg-small"
            *ngIf="animal.esBecerro"
            src="../../../assets/svg/calf.svg"
          />
        </div>
      </a>
      <a [routerLink]="['/info-vaca', animal.id]">
        <ion-label>
          <div >
            <h2>
              Nombre: {{ animal.nombre }} No.{{ animal.numero }}
            </h2>
           
            <ion-badge color="primary">
              {{animal.puntuacion | number:'1.2-2'}}
              <ion-icon name="star"></ion-icon>
            </ion-badge>
          </div>
          <p>Raza: {{ animal.raza }}</p>
          <!-- <p>Sexo: {{animal.sexo }}</p> -->
          <p>
            Edad: {{ animal.years }} años ({{ animal.fechaNacimiento |
            date:'dd-MM-yyyy'}})
          </p>
        </ion-label>
      </a>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="isLoading">
    <ion-item>
      <ion-label>
        <ion-spinner name="crescent"></ion-spinner>
        Cargando animales...
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!isLoading && filteredAnimals.length === 0">
    <ion-item>
      <ion-label> No se encontraron animales. </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" [routerLink]="['/crear-vaca']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
