<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Inicio de Sesion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  
  <ion-card>
    <ion-card-header>
      <div class="container">
        <img src="assets/icon/logo.png" alt="logo" class="logo">
      </div>
      
    </ion-card-header>
    <ion-card-content>
      <p>Ingresa tus datos para iniciar sesion</p>

      <form (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required minlength="4" maxlength="255"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required minlength="6" maxlength="1024"></ion-input>
        </ion-item>
      
        <ion-button expand="full" type="submit">Login</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <div class="container">

    <a href="/register">
      No tienes cuenta? registrate aqui
    </a>
  </div>

  </ion-content>
